<link href="/stylesheets/sjea-common.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/sjea-search.css" media="screen" rel="stylesheet" type="text/css" />

<script src="/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/javascripts/search.js" type="text/javascript"></script>
<script src="/javascripts/newsearch.js" type="text/javascript"></script>

<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>

<div id="page">

   <div id="main-header">
      <h1>The Siege of Jerusalem Electronic Archive</h1>
      <ul id="header-list">
         <li><a href="/index.html">Home</a></li>
         <li><a href="/manuscript.html">Manuscripts</a></li>
         <li><a href="/search.html" class="active">Search</a></li>
         <li><a href="/comparison.html">Comparison</a></li>
      </ul>
   </div> <!-- main-header -->

   <div id="main-title">
      <h2>Search Results.</h2>
   </div>  <!-- main-title -->

   <div id="sidebar">

   </div>  <!-- sidebar -->

   <div id="content">

      <div id="content-header">

      </div>  <!-- content-header -->

      <div id="search-controls">

         <form name="search" action="/solrsearch/dosearch" method="get">

         <div id="textbox-div">
            <span>Search for: </span>
            <textarea id="search-text" name="searchfor" rows="3" cols="48"></textarea>
         </div>

         <div id="special-keys-div">
             <!-- barred H -->
             <button id="special-button-1" type="button" class="special-key-button">&#x0127</button>
             <!-- barred L -->
             <button id="special-button-2" type="button" class="special-key-button">&#x0142</button>
             <!-- thorn -->
             <button id="special-button-3" type="button" class="special-key-button">&#x00DE</button>
             <!-- yogh -->
             <button id="special-button-4" type="button" class="special-key-button">&#x021D</button>
         </div>

         <div id="searchin-div">
            <span>Search in:</span>
            <select name="facet" >
               <option value="">Everything</option>
               <option value="transcriptions">Transcriptions</option>
               <option value="descriptions">Descriptions</option>
               <option value="annotations">Annotations</option>
            </select>
         </div>

         <div id="manuscripts-div">
             <span>Which manuscript(s):</span>
             <select name="transcription">
                <option value="">All of them</option>
                <option value="British Library, MS Additional 31042 (A)">British Library, MS Additional 31042 (A)</option>
                <option value="British Library, MS Cotton Caligula A.ii, part I (C)">British Library, MS Cotton Caligula A.ii, part I (C)</option>
                <option value="Lambeth Palace Library, MS 491 (D)">Lambeth Palace Library, MS 491 (D)</option>
                <option value="Huntington Library, MS HM 128 (E)">Huntington Library, MS HM 128 (E)</option>
                <option value="Devon Record Office, Deposit 2507 (Ex)">Devon Record Office, Deposit 2507 (Ex)</option>
                <option value="Bodleian Library, MS Laud Misc. 656 (L)">Bodleian Library, MS Laud Misc. 656 (L)</option>
                <option value="Princeton University Library, MS Taylor Medieval 11 (P)">Princeton University Library, MS Taylor Medieval 11 (P)</option>
                <option value="Cambridge University Library, MS Mm.v.14 (U)">Cambridge University Library, MS Mm.v.14 (U)</option>
                <option value="British Library, MS Cotton Vespasian E.xvi (V)">British Library, MS Cotton Vespasian E.xvi (V)</option>
             </select>
         </div>

         <div id="submit-div">
             <input id="search-submit" type="submit" class="search-button" value="Search" />
         </div>  <!-- submit-div -->

         </form>

     </div>  <!-- search-controls -->

     <div id="search-instructions">

         </br>
         <p><b>rayne OR water OR stremys</b> finds texts with any or all of the words</p>
         </br>

         <p><b>rayne AND water AND stremys</b> finds only texts with all of the words</p>
         </br>

         <p><b>rayne AND water NOT stremys</b> finds only texts with the words rayne and water that do not contain the word stremys</p>
         </br>

         <p><b>"rayne in the street"</b> finds that exact phrase</p>
         </br>

         <p><b>"rayne street"~4</b> finds the word rayne and the word street no farther than four words apart</p>
         </br>

         <p><b>ray?e</b> finds rayne and rayse</p>
         </br>

         <p><b>ray*e</b> finds raykande, raylede, rayne, rayse, raysede, and rayssede</p>
         </br>

         <p><b>rayne~</b> finds words similar to rayne according to the Levenshtein distance algorithm (fuzzy matching). By putting a number between zero and one
               immediately after the tilde, you can control the Levenshtein distance (degree of fuzziness)</p>
         <p>For example, <b>rayne~0.05</b> finds words remotely similar to rayne while
                         <b>rayne~0.95</b> finds words very similar to rayne. If you do not specify, the default is ~0.5.</p>

     </div>  <!-- search-instructions -->

     <div id="content-display">

       <!-- <%= @inparams %>
       <%= @results %> -->

       <div class="result-header">
         <%- searchfor = @inparams[:searchfor] %>
         <%- docname = ( @inparams[:transcription] == "" )? "all manuscripts" : @inparams[:transcription] %>
         <%- facetname = ( @inparams[:facet] == "" )? "everything" : @inparams[:facet] %>

         <div class="params-div">
           <span id="q-searchfor" data="<%= searchfor %>"></span>
           <span id="q-docname" data="<%= @inparams[:transcription] %>"></span>
           <span id="q-facetname" data="<%= @inparams[:facet] %>"></span>
         </div>

         <%- paginate_count = 10 %>
         <%- total_results = @results[:totalrows].to_i %>
         <%- page_number = ( @results[:pagestart].to_i / paginate_count ) + 1 %>
         <%- page_results = @results[:hits].size %>
         <%- total_pages = ( total_results / paginate_count ) + 1 %>

          <%- if total_results != 0 -%>
             <span><%= "Showing #{page_results} results for \"#{searchfor}\" in #{facetname}, #{docname} (#{total_results} total results):" -%></span>

             <div>
             <% if total_pages > 1 %>
                <ul id="pagination">
                  <% if page_number == 1 %>
                     <li class="previous-off"><span>&lt;</span></li>
                  <% else %>
                     <li class="previous"><a class="new-page" page="<%= page_number - 1 %>">&lt;</a></li>
                  <% end %>

                  <% (1..total_pages).each do |page| %>
                      <% if page == page_number %>
                          <li class="active"><%= page %></li>
                      <% else %>
                          <li><a class="new-page" page="<%= page %>"><%= page %></a></li>
                      <% end %>
                  <% end %>
                  <% if page_number == total_pages %>
                      <li class="next-off"><span>&gt;</span></li>
                  <% else %>
                      <li class="next new-page" page="<%= page_number + 1 %>"><a class="new-page" page="<%= page_number + 1 %>">&gt;</a></li>
                  <% end %>
                </ul>
                </br>
             <%end %>

          <%- else %>
             <span><%= "No results found for \"#{@inparams[:searchfor]}\" in #{facetname}, #{docname}" %></span>
          <%- end %>
         </div>
       </div>

       <%- hits = @results[:hits] %>
       <%- hits.each do |hit| %>

          <%- manuscript = "SJ#{hit["title"].gsub(/^.*\((.*)\)$/, '\1')}" %>
          <div class="result">
              <div class="result-title">
                 <a href="/manuscript.html?manuscript=<%= manuscript %>"> <%= hit["title"] %></a>
              </div>
              <div class="result-snippet">
                 <span><%= raw( hit["highlighting"][0] ) %></span>
              </div>
          </div>  <!-- result -->

       <%- end -%>

     </div>  <!-- content-display -->

     <div id="footer-spacer">
     </div>  <!-- footer-spacer -->

   </div>  <!-- content -->

</div>  <!-- page -->

<div id="main-footer">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere ultrices laoreet. Maecenas lacus sapien, tristique ultrices ultrices eu, vestibulum et sem. Nunc eu augue neque, eu congue turpis. Cras vulputate lacus iaculis eros vehicula tincidunt. Suspendisse viverra accumsan ipsum et suscipit. Cras eu tellus nunc. Nam blandit congue lorem vitae faucibus. Nunc at congue libero. Nam et lorem nisl. In laoreet sodales nunc. Quisque egestas, urna et commodo posuere, turpis diam ultricies mauris, id condimentum dui tortor fermentum ante.</p>
</div> <!-- main-footer -->
